/aula_01/nbproject/private/
/aula_01/build/
/aula_01/dist/
*.zip
/aula_02/nbproject/private/
/aula_02/build/
/aula_03/nbproject/private/
/aula_03/build/
/aula_04/nbproject/private/
/aula_04/build/
/aula_05/nbproject/private/
/aula_05/build/
/aula_06/nbproject/private/
/aula_06/build/
/aula_06/dist/
/aula_07/nbproject/private/
/aula_07/build/
/aula_08/exercicio_01/nbproject/private/
/aula_08/aula_08/nbproject/private/
/aula_08/aula_08/build/
/aula_08/aula_08/dist/
/aula_09/nbproject/private/
/aula_09/build/
/aula_09/dist/
/projeto/UMS/nbproject/private/
/UMS/build/
/UMS/nbproject/private/
/UMS/dist/

# secrets
.env
